<!DOCTYPE html>
<!-- 
/****************************************************/
/************** Created by : Vivek Gupta ************/
/***************     www.vsgupta.in     *************/
/****************************************************/ 
-->

<html lang="vn">
    <head>
	  <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <meta name="Vikkey" content="Vivek Gupta & IoTMonk">
	  <meta http-equiv="Access-Control-Allow-Origin" content="*">
     
	 <!-- If you are opening this page from local machine, uncomment belwo line -->
       
	  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script> 
	  
	 
	 <!-- If you are opening this page from a web hosting server machine, uncomment belwo line -->
	 <!--
	 <script type="text/javascript">
		document.write([
			"\<script src='",
			("https:" == document.location.protocol) ? "https://" : "http://",
			"ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js' type='text/javascript'>\<\/script>" 
		].join(''));
	  </script>
	  -->
      <title>HappyFarm</title>

    </head>
   <body>
        <div class="container">
            <div class="content">
                <div class="left-content">
                    <div class="title">
                        <h1>Tree Watering</h1>
                    </div>
                    <div class="title-home">
                        <img src = '../../assets/watering-plants.svg'/>
                    </div>
                </div>
                <div class="right-content">
                    <div class="main-content-top">
                        <div class="info-content">
                            <div class="title">
                                <h3>Temperature</h3>
                            </div>
                            <div class="temp">
                                <p><img src = '../../assets/temp.png' height="100px" width="100px" style='vertical-align: middle'/>  {{totalAngularPackages.temp}}°C</p>
                            </div> 
                        </div>
                        <div class="info-content">
                            <div class="title">
                                <h3>Humidity</h3>
                            </div>
                            <div class="temp">
                                <P><img src = '../../assets/humidity.svg' height="100px" width="100px" style='vertical-align: middle' /> {{totalAngularPackages.humid}}%</P>
                            </div> 
                        </div>
                    </div>
                    <div class="main-content-bottom">
                        <div class="title">
                            <h3>Status</h3>
                        </div>
                        <div class="result">
                            <p>{{status}}</p>
                            <button mat-raised-button class="btn">Tưới cây</button>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>